<section class="user-submissions" layout="column">

  <h3 class="settings-subtitle" layout="row">Submissions</h3>

  <md-input-container layout="">
    <ng-md-icon flex="10" icon="filter_list" class="filter-icon"></ng-md-icon>
    <md-select flex="90" flex-offset="5" id="status"
               data-ng-model="filterModel"
               data-ng-change="filterBy(filterModel)"
               ng-model-options="{ trackBy: $value.id }"
               placeholder="Submission Status"
    >

      <md-option ng-value="status" ng-repeat="status in subStatuses">
        {{status.value}}
      </md-option>
    </md-select>
  </md-input-container>


  <div flex-xs="column" flex-gt-xs="100" layout="row" class="settings-list-container">

    <md-card layout="column" flex="" data-ng-repeat="userProject in userProjects | filter:propName"
             ui-sref="projects.projectStatus({ projectId: userProject.id})" class="settings-list">
      <img data-ng-src="{{userProject.mainImage.thumbImageUrl}}"/>
      <md-card-content>
        <h4>{{userProject.title}}</h4>
        <small>Submitted on <span data-ng-bind="userProject.createdOn | date:'short'"></span></small>
      </md-card-content>
    </md-card>

  </div>


</section>
