<section>

  <!--logo-->
  <div data-ng-show="!overlayActive && !menuOpen">
    <div class="main-logo" data-ng-click="toggleOverlayFunction('home')"></div>
  </div>

  <main-page-overlay></main-page-overlay>

  <projects-side-bar></projects-side-bar>

  <!--call MapBox map-->
  <map-view-directive></map-view-directive>

  <div id="main-menu" class="main-menu">
    <main-menu></main-menu>
  </div>

  <!--<div id="info" class="info" data-ng-class="{'info-project-details': toggleDetails}"></div>-->

</section>
