<span class="lightbox-btn lightbox-btn-left" data-ng-click="Lightbox.prevImage()">
  <ng-md-icon icon="chevron_left" size="56"></ng-md-icon>
</span>

<section
  class="lightbox-template"
  ng-swipe-left="Lightbox.nextImage()"
  ng-swipe-right="Lightbox.prevImage()"
  layout="column"
  layout-align="end center"
>

  <img lightbox-src="{{Lightbox.imageUrl}}">
  <!--<p data-ng-bind-html="trustAsHtml(Lightbox.imageCaption)"></p>-->
  <p>Caption: {{Lightbox.imageCaption}}</p>


</section>

<span class="lightbox-btn lightbox-btn-right" data-ng-click="Lightbox.nextImage()">
  <ng-md-icon icon="chevron_right" size="56"></ng-md-icon>
</span>

<span class="lightbox-btn lightbox-btn-top" ng-click="$dismiss()">
  <ng-md-icon icon="close" size="48"></ng-md-icon>
</span>
