toggleEdit: {{toggleEdit}}
<section layout="row" class="admin-project-editor">


  <div layout="column" data-ng-show="!toggleEdit">
    <div layout="row">
      <md-button data-ng-click="toggleEditFn(14, 'edit', project, 'story')" class="md-raised md-primary md-btn">Edit
      </md-button>
      <md-button class="md-fab" ng-disabled="false" aria-label="Comment">
        <ng-md-icon icon="ic_comment"> Comment</ng-md-icon>
      </md-button>
    </div>

    <!--display preview of project-->
    <div class="wysiwyg-view" froala-view="project.story" layout="row"></div>

  </div>

  <!--display wysiwyg editor-->
  <div class="text-editor-window" data-ng-show="toggleEdit && toggleId===14" layout="column">

    <div layout="row">
      <!--todo add popup to confirm exit if project.story has been edited-->
      <md-button data-ng-click="toggleEditFn(0, 'cancel')" class="md-raised md-warn md-btn">Cancel</md-button>
      <md-button class="md-raised md-primary md-btn" data-ng-click="toggleEdit = false">Preview</md-button>
      <md-button class="md-raised md-primary md-btn" data-ng-click="updateProjStory(14)">Save</md-button>
    </div>

    <wysiwyg-editor></wysiwyg-editor>

  </div>

  <hr/>


</section>
