<section data-ng-controller="ContributorController" data-ng-init="findContributor()" class="contributors">
  <div class="contrib-view">
    <div class="row">
      <div class="col-md-12">

          <div class="row">
            <div><h1 class="col-md-6">{{contributor.firstName}} {{contributor.lastName}}</h1></div>
            <div><img class="col-md-6 pull-right" data-ng-src="{{contributor.profileImage.thumbImageUrl}}"/></div>
          </div>

          <div class="row">
            <div><p class="col-md-12">{{contributor.bio}}</p></div>
          </div>

          <hr/>

          <h4>Projects by {{contributor.firstName}}</h4>
          <div layout="column">
            <p flex="100" data-ng-repeat="contributorProject in contributorProjects">
              <a data-ng-href="/projects/{{contributorProject._id}}"> {{contributorProject.title}}</a>
            </p>
          </div>

      </div>
    </div>
  </div>
</section>
