<!--<section data-ng-controller="ProjectsController" data-ng-init="find()" class="main-content-inner">-->
<section class="admin">

  <div class="admin">
    <div class="admin-projects">

      <div class="admin-nav">
        <md-button class="md-raised" aria-label="admin home page" ui-sref="admin.dashboard">
          <ng-md-icon icon="home"></ng-md-icon>
          Admin Home Page
        </md-button>
      </div>

      <div class="page-header" layout="row" layout-align="space-between end">

        <h1 flex="">Admin Panel</h1>

      </div>

      <div layout="row" layout-align="space-between end">

        <md-input-container flex="40" layout="">
          <ng-md-icon flex="10" icon="sort" data-ng-click="sortBy(sortOrder, true)" class="sort-order-icon" ng-class="{ 'sort-order-icon-dynamic': reverseSort }"></ng-md-icon>
          <md-select flex="90" flex-offset="10" id="sortAdminProjectList" data-ng-model="sortOrder" placeholder="Sort Order" ng-model-options="{ trackBy: $value.id }" data-ng-change="sortBy(sortOrder)">
            <md-option ng-value="sort" ng-repeat="sort in sortProjects">
              {{sort.value}}
            </md-option>
          </md-select>
        </md-input-container>


        <md-input-container flex="40">
          <input type="text" data-ng-model="searchKeyword.$" id="search" placeholder="Search Projects">
        </md-input-container>

      </div>


      <md-content class="body md-padding" flex="" layout-xs="column" layout="row" layout-wrap>
        <md-card md-whiteframe="2" flex-xs="" flex-gt-xs="45" layout="column"
                 data-ng-repeat="project in projects | orderBy:propName:reverse | filter:searchKeyword"
                 class="admin-list" ui-sref="admin.adminEditProject({ 'projectId' : project._id })">
          <md-card-title-media>
            <img ng-src="{{project.mainImage.thumbImageUrl}}" class="project-tile-image"
                 alt="{{project.title}}">
          </md-card-title-media>
          <md-card-title>
            <md-card-title-text>{{project.title}}</md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>{{project.user.firstName}} {{project.user.lastName}}</p>
          </md-card-content>


        </md-card>
      </md-content>

    </div>
  </div>

</section>
