<section class="view-project">

  <md-button class="md-raised md-primary md-btn" ui-sref="projects.listProjects">
      <ng-md-icon icon="list"></ng-md-icon>
    All Projects
  </md-button>

  <section class="page-header" layout="column" layout-align="start start">
    <div layout="row">
        <h1 data-ng-bind="project.title"></h1>

        <ng-md-icon icon="favorite" size="38" class="favorite" ng-click="toggleFavProjectFn()" data-ng-class="{'favorite-true' : isFavorite, 'favorite-false' : !isFavorite}"></ng-md-icon>

    </div>

    <em class="text-muted">
      <span data-ng-bind="project.createdOn | date:'mediumDate'"></span>
    </em>

    <md-button class="contrib-link" ui-sref="users.contributor({userId: project.user._id})"><span class="contrib-name">{{project.user.firstName}} {{project.user.lastName}}</span>
    </md-button>

  </section>


  <section layout="column">
      <div class="videoWrapper" data-ng-if="project.vimeoId">
        <iframe data-ng-show="!videoSizeSelect()" width="{{vimeo.width}}" height="{{vimeo.height}}"
                data-ng-src="{{vimeo.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen>
        </iframe>
      </div>

      <div class="videoWrapper" data-ng-if="project.soundCloudId">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" data-ng-src="{{soundCloud.audio}}">
        </iframe>
      </div>


      <div layout="row" data-ng-show="project.mainImage && project.category !== 'photography'">
        <ul id="grid-view-default-image">
          <figure ng-click="openLightboxModal($index)">
            <img ng-src="{{project.mainImage.thumbImageUrl}}" class="img-responsive">
            <figcaption data-ng-if="project.mainImage.imageCaption">{{project.mainImage.imageCaption}}</figcaption>
          </figure>
        </ul>
      </div>

      <md-content flex="" layout-padding="" data-ng-show="project.story !== ''">
        <p data-ng-bind-html="trustAsHtml(project.story)"></p>
      </md-content>

      <div>
        <img ng-src="{{project.mapImage}}" class="img-responsive">
      </div>


      <div layout="row" class="image-gallery" data-ng-show="project.imageGallery">
      <!--<div layout="row" data-ng-show="project.imageGallery">-->
        <h3>Image Gallery</h3>

        <ul id="grid-view" class="image-gallery" >
          <!--<li data-ng-repeat="image in project.imageGallery">-->
            <a ng-click="openLightboxModal($index)" data-ng-repeat="image in project.imageGallery">
            <!--<a ng-click="openLightboxModal($index)">-->
              <img ng-src="{{image.thumbImageUrl}}" class="img-thumbnail">
              <!--<p>{{image.caption}}</p>-->
            </a>
          <!--</li>-->
        </ul>

      </div>


      <!--<h3>Related Stories</h3>-->
      <!--<p>coming soon</p>-->

      <div layout="">
        <h3>Comments</h3>
        <div class="fb-like" data-href="https://www.facebook.com/MappingSaltLakeCity" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      </div>


      <!--facebook comments plugin - see the SDK code in `modules/core/server/views/layout.server.view.html` -->

      <!--<div class="fb-follow" data-href="https://www.facebook.com/MappingSaltLakeCity" data-layout="button" data-size="large" data-show-faces="true"></div>-->

      <div class="fb-comments" data-href="http://localhost.com:3000" data-width="700px" data-numposts="5"></div>


  </section>
</section>
