<section ng-controller="AuthenticationController" class="main-content-inner row md-whiteframe-5dp">

  <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>

  <div class="col-md-12 text-center signin-icons">

    <a data-ng-click="callOauthProvider('/api/v1/auth/facebook')" class="undecorated-link"><i
      class="fa fa-facebook"></i></a>
    <a ng-click="callOauthProvider('/api/v1/auth/twitter')" class="undecorated-link"><i
      class="fa fa-twitter"></i></a>
  </div>

  <div ui-view></div>

</section>
